<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @kilometerdriven.name %>
</p>

<%= link_to 'Edit', edit_kilometer_driven_path(@kilometerdriven) %> |
<%= link_to 'Back', kilometer_drivens_path %>
