<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @registrationyear.name %>
</p>

<%= link_to 'Edit', edit_registrationyear_path(@registrationyear) %> |
<%= link_to 'Back', registrationyears_path %>
