<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @registrationstate.name %>
</p>

<%= link_to 'Edit', edit_registrationstate_path(@registrationstate) %> |
<%= link_to 'Back', registrationstates_path %>
