<div class="text-center">
	<p id="notice"><%= notice %></p>
	<p>
	  <strong>Name:</strong>
	  <%= @city.name %>
	</p>

	<%= link_to 'Edit', edit_city_path(@city), class: "btn btn-warning m-4" %> 
	<%= link_to 'Back', cities_path , class: 'btn btn-dark m-4' %>
</div>